@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #12ac8e;
  --primary-color-dark: #0d846c;
  --primary-color-light: #e9f7f7;
  --secondary-color: #fb923c;
  --text-dark: #333333;
  --text-light: #767268;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-bo
  
  
}
.testimonial_heading  {

text-align: center;
cursor: pointer;


}
.testimonial_heading  {
  color: #12ac8e;

}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.section__header{
  color: #12ac8e;
}

.btn {
  padding: 0.75rem 2rem;
  outline:auto;
  border: 2px solid black;
  font-size: rem;

  
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(
      to right,
      rgba(18, 172, 142, 0.9),
      rgba(139, 165, 160, 0.7)
    ),
    url("assets/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__container {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
  
}

.nav__logo span {
  color: var(--secondary-color);
  
}
.nav__logo :hover{
    color: rgb(15, 93, 229);
    transition: 0.3s;
    text-decoration: underline;
}

.nav__links{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  

}

.link a :hover{
  padding: 0.5rem;
  color: var(--primary-color-light);
  text-decoration: underline;
  animation: 0.2s;
  transform: scale(1.1); 
  transition: transform 0.3s ease;
}


.link a:hover {
  color: var(--white);
  transform: scale(1.1); 
  transition: transform 0.3s ease;
}



.header__container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.header__container h1 {
  margin-bottom: 1rem;
  max-width: 800px;
  font-size: 3.5rem;
  line-height: 5rem;
  color: var(--white);

}

.header__container p {
  margin-bottom: 1.5rem;
  max-width: 600px;
  color: var(--primary-color-light);
  align-self: start;

}



.header__form {
  width: 80%;
  max-width: 300px;
  
}

.header__form form {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.header__form input {
  padding: 1.2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--primary-color-light);
  border-radius: 5px;
}

.header__form input::placeholder {
  color: var(--primary-color);
  margin: 2px var(--secondary-color);
  border-radius: 3px;
  box-shadow: #e9f7f7;
}

.form__btn {
  background-color: var(--primary-color);
  transition: 0.3s;
}

.form__btn:hover {
  background-color: var(--primary-color-dark);
}

.header__form h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  margin: 3px solid w;
}

.service__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.service__header__content p {
  max-width: 1200px;
  color: var(--text-light);
}

.service__btn {
  padding: 0.75rem 1rem;
  outline: none;
  font-size: 1rem;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: #e9f7f7;
}

.service__btn:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

.service__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
  gap: 20px;
}

.service__card {
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(37, 36, 36, 0.703);
  cursor: pointer;
  transition: transform 0.3 ease-in-out;
}

.service__card span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 10px 20px;
  font-size: 2.5rem;
  color: var(--primary-color);
  background-color: var(--primary-color-light);
  border-radius: 100%;
  transition: 0.3s;
}

.service__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.service__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.service__card a {
  color: var(--primary-color);
}

.service__card a:hover {
  color: var(--primary-color-dark);
}

.service__card:hover span {
  color: var(--primary-color-light);
  background-color: var(--primary-color);
}
.service__card:hover{
  transform: scale(1.05);
}

.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.about__content p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.about__image img {
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
}
.choose-us {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.feature {
  width: 30%;
  margin-bottom: 30px; 
}

.feature img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;
  color: #666;
}


/* 
.why__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}


.why__image img {
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
}

.why__content p {
  color: var(--text-light);
}

.why__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 100px auto;
  gap: 2rem;
}

.why__grid span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.why__grid h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.why__grid p {
  color: var(--text-dark);
} */

.doctors__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  text-align: center;
}

.doctors__header__content p {
  max-width: 900px;
  color: var(--text-light);
  text-align: center;
}

.doctors__nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.doctors__nav span {
  padding: 5px 12px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--primary-color-light);
  cursor: pointer;
}

.doctors__grid {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  gap: 25px;
}

.doctors__card {
  text-align: center;
  box-shadow: 5px 5px 20px rgba(107, 105, 105, 0.735);
  border-radius: 10px;
  cursor: pointer;
  overflow:auto;
  
  
}
  


.doctors__card__image {
  position: relative;
  overflow: hidden;
}

.doctors__socials {
  position: absolute;
  
  bottom: -4rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: 0.5s;
}

.doctors__socials span {
  display: inline-block;
  padding: 8px 12px;
  font-size: 1.5rem;
  color: var(--text-dark);
  background-color: var(--white);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}


.doctors__socials span:hover {
  color: var(--primary-color);
}

.doctors__card:hover .doctors__socials {
  bottom: 2rem;
}

.doctors__card h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.doctors__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}


.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonial {
  width: 40%;
  background-color:#93e1d2;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; 
}

.testimonial img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.testimonial-content p {
  font-size: 16px;
  margin-bottom: 10px;
}

.testimonial-content h3 {
  font-size: 18px;
  margin: 0;
}


@media (max-width: 768px) {
  .testimonials {
      flex-direction: column; 
      align-items: center;
  }

  .testimonial {
      width: 100%;
  }
}

@media (max-width: 480px) {
  .testimonial img {
      width: 60px; 
     height: 60px; 
  }

  .testimonial-content p {
      font-size: 14px; 
  }

  .testimonial-content h3 {
      font-size: 16px; 
  }
}


.footer {
  background-color:#93e1d2;
  position: relative;
  bottom: -50px;
}

.footer__container {
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}

.footer__col h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.footer__col h3 span {
  color: var(--secondary-color);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.footer__col p {
  margin-bottom: 1rem;
  color: var(--text-dark);
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--primary-color);
}

.footer__col i {
  color: var(--primary-color);
}

.footer__bar {
  background-color: var(--primary-color);
}

.footer__bar__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer__bar__content p {
  font-size: 0.8rem;
  color: var(--white);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;
}

@media (width < 900px) {
  .service__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .about__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about__image {
    grid-area: 1/1/2/2;
  }

  .about__content {
    text-align: center;
  }

  .why__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .why__content {
    text-align: center;
  }

  .why__grid {
    text-align: left;
  }

  .doctors__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 780px) {
  .nav__links {
    display: none;
  }

  .header__container {
    flex-direction: column;
  }
}

@media (width < 600px) {
  .service__header {
    flex-direction: column;
    text-align: center;
  }

  .service__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .why__grid {
    column-gap: 1rem;
  }

  .doctors__header {
    flex-direction: column;
    text-align: center;
  }

  .doctors__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__bar__content {
    flex-direction: column;
    gap: 1rem;
  }
}
